<tr id="email-list-<%=@email.id%>">
      <th scope="row"><%=@email.id%></th>
      <td class="email-object-<%=email.id%>"><%=link_to email_path(email.id), remote: true do %>
            <strong><%=email.object%></strong></td>
          <%end%>
      <td class="email-body-<%=@email.id%>"></td>
</tr>