<tr id="email-list-<%=@email.id%>">
<td class="email-object-<%=email.id%> p-0"><%=link_to email_path(email.id), remote: true do %>
      <div class="container h-100 w-100"><strong><%=email.object%></strong></div>
     </td> 
    <%end%>
      <td class="email-body-<%=@email.id%>"></td>
</tr>