<td class="email-object-<%=email.id%>" id="email-object-<%=email.id%>">
  <%=link_to email_path(email.id), remote: true do %>
    <div class="container h-100 w-100">
      <%=email.object%>
    </div>
  <%end%>
</td>
<td class="email-body-<%=@email.id%>" id="email-body-<%=@email.id%>"></td>